header h2{
    font-family: sans-serif;
    text-transform: uppercase;
    color: brown;
    border-left: 0.3rem solid brown;
    padding-left: 0.5rem;
    margin-top: 0.1rem;
    margin-bottom: 1rem;
}
body{
    padding: 0.2rem;
    border: solid 0.1rem blue;
}
container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 3rem;
}
.element{
    width: 100%;
}
.element .content h3{
    text-transform: uppercase;
    font-family: sans-serif;
}
.element .img img{
    width:100%;
}
.element .content p{
    font-family: sans-serif;
}
.element .foot .element-list-item{
    font-family: sans-serif;
    margin-bottom: 4rem;
    padding: 0;
    list-style-type: none;
    line-height: 1.5rem;
}
.foot .element-item-icon {
    margin-left: 0;
    color: brown;
    font-size: 1rem;
}
.foot .element-item-icon i{
    width: 1rem;
}
.foot .element-item-describe{
    padding: 0 0 0 5px;
}
.element:hover{
    background-color: lightgrey;
}